# Module 3 HW

## 1. Find a CSV/Excel/XML/JSON from any of the data sources listed on the data sources listed in the Module 3 deck.
- Load file into Python as a Pandas Dataframe
- What columns and datatypes are in the data source
- Get the statistics of the categorical / string and numeric columns
- How big is the dataset?

**import needed libraries**

In [1]:
import pandas as pd
import numpy as np

### Loading CSV file to Python as Pandas Dataframe
*Source: Philippine Statistics Authority*<br>
<a href=http://openstat.psa.gov.ph/dataset/education>**Number of schools, examinees and distribution of passers by sex in various licensure examination, 2014-2015 (Source: Professional Regulation Commission)**</a>

In [2]:
df = pd.read_csv("/Users/nikkiquitasol/Desktop/FTW Data Science/Class Submissions/Table 10.21.csv")

In [ ]:
##df = pd.read_csv("/Users/nikkiquitasol/Desktop/FTW Data Science/Class Submissions/Table 10.21.csv",
                ##index_col=['Licensure Examination'])

In [3]:
df.head(5)

   Licensure Examination    2014    2015
0          Total Schools    7850    8592
1        Total Examinees  425233  443775
2          Total Passers  169029  174642
3   Total Passers (Male)   62143   59658
4  Total Passer (Female)  106886  114984

In [4]:
df.tail()

                          Licensure Examination 2014 2015
283             X-Ray Technologists (Examinees)  158  210
284               X-Ray Technologists (Passers)   43   53
285                  X-Ray Technologists (Male)   22   22
286                X-Ray Technologists (Female)   21   31
287  X-Ray Technologists (Overall Passing Rate)   27   25

### What columns and datatypes are in the data source?
- 3 Columns: "Licensure" "2014" "2015"
- Datatypes: Object

In [5]:
df.dtypes

Licensure Examination    object
2014                     object
2015                     object
dtype: object

### Get the statistics of the categorical / string and numeric columns

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288 entries, 0 to 287
Data columns (total 3 columns):
Licensure Examination    288 non-null object
2014                     288 non-null object
2015                     288 non-null object
dtypes: object(3)
memory usage: 6.8+ KB

In [7]:
df.describe()

       Licensure Examination 2014 2015
count                    288  288  288
unique                   288  228  216
top      Librarians (Female)    a    d
freq                       1    6   12

### How big is the dataset?
- 6.8+ KB

## 2. Go to Quandl.com
- Find the API to use to find the % of Philippine corporations expected to give gifts to get a construction permit, sourced from the World Bank Enterprise Surveys
- Read the Documentation and find out what library / function to use to get the index
- Get the latest value available from the API

**Import needed libraries**

In [8]:
import quandl
import requests
import json

In [9]:
# add quandl API key for unrestricted
api_key = '4xRoMDjiZpWzfzhL7QpE'
quandl.ApiConfig.api_key =  api_key ## Insert API Key here

### Using Quandl API, sourced from the World Bank Enterprise Surveys
<a href=https://www.quandl.com/data/WESV-World-Bank-Enterprise-Surveys/documentation/data-organization>**Percent of Philippine corporations expected to give gifts to get a construction permit**</a>

In [10]:
#Request URL
urlq = "https://www.quandl.com/api/v3/datasets/WESV/PHL_IC_FRM_CORR_CORR8?api_key="+api_key

#The request will return this response
response = requests.get(urlq)

#Get text response
data = response.json()

In [11]:
data

{u'dataset': {u'collapse': None,
  u'column_index': None,
  u'column_names': [u'Date', u'Value'],
  u'data': [[u'2015-12-31', 39.9], [u'2009-12-31', 34.7]],
  u'database_code': u'WESV',
  u'database_id': 13547,
  u'dataset_code': u'PHL_IC_FRM_CORR_CORR8',
  u'description': u'Percent of firms expected to give gifts to get a construction permit - Philippines. ',
  u'end_date': u'2015-12-31',
  u'frequency': u'daily',
  u'id': 21932116,
  u'limit': None,
  u'name': u'Percent of firms expected to give gifts to get a construction permit - Philippines',
  u'newest_available_date': u'2015-12-31',
  u'oldest_available_date': u'2009-12-31',
  u'order': None,
  u'premium': False,
  u'refreshed_at': u'2018-10-24T05:17:37.164Z',
  u'start_date': u'2009-12-31',
  u'transform': None,
  u'type': u'Time Series'}}

In [12]:
data['dataset']

{u'collapse': None,
 u'column_index': None,
 u'column_names': [u'Date', u'Value'],
 u'data': [[u'2015-12-31', 39.9], [u'2009-12-31', 34.7]],
 u'database_code': u'WESV',
 u'database_id': 13547,
 u'dataset_code': u'PHL_IC_FRM_CORR_CORR8',
 u'description': u'Percent of firms expected to give gifts to get a construction permit - Philippines. ',
 u'end_date': u'2015-12-31',
 u'frequency': u'daily',
 u'id': 21932116,
 u'limit': None,
 u'name': u'Percent of firms expected to give gifts to get a construction permit - Philippines',
 u'newest_available_date': u'2015-12-31',
 u'oldest_available_date': u'2009-12-31',
 u'order': None,
 u'premium': False,
 u'refreshed_at': u'2018-10-24T05:17:37.164Z',
 u'start_date': u'2009-12-31',
 u'transform': None,
 u'type': u'Time Series'}

In [13]:
cols = data['dataset']['column_names']

In [14]:
row_data = data['dataset']['data']

In [15]:
df2 = pd.DataFrame(data = row_data, columns=cols)

In [16]:
df2.head()

         Date  Value
0  2015-12-31   39.9
1  2009-12-31   34.7

##### Latest value available from API = 39.9

In [17]:
#Just get value
data['dataset']['data'][0][1]

39.9

## 3. Web Scraping

### Option 1
- Scrape the top played track (first only) on SoundCloud 
- https://soundcloud.com/charts/top

In [18]:
# import libraries
import urllib2
from bs4 import BeautifulSoup

In [19]:
# specify the url
urlsc = "https://soundcloud.com/charts/top"

In [20]:
# query the website and return the html to the variable ‘page’
page = urllib2.urlopen(urlsc)

In [21]:
#Parse the html in the 'page' variable, and store it in Beautiful Soup format
soup = BeautifulSoup(page, 'html.parser')

In [22]:
song = soup.find('a', itemprop="url", href="/lil-baby-4pf/drip-too-hard")
artist = soup.find('a', href="/lil-baby-4pf")

In [23]:
print song.text
print "by " + artist.text

Drip Too Hard
by Lil Baby

### Option 2
- Access
https://en.wikipedia.org/wiki/Cinemalaya_Philippine_Independent_Film_Festival
- Load Page Source
- Scrape to get the table for the
https://en.wikipedia.org/wiki/Cinemalaya_Philippine_Independent_Film_Festival
- Reference: https://medium.com/@Alexander_H/scraping-wikipedia-with-python-8000fc9c9e6c

In [24]:
urlwiki = "https://en.wikipedia.org/wiki/Cinemalaya_Philippine_Independent_Film_Festival"

In [25]:
html = urllib2.urlopen(urlwiki)
##html = requests.get(urlwiki)

In [26]:
bs = BeautifulSoup(html, 'html.parser')

In [27]:
tabletitle = bs.find('span', class_="mw-headline", id="New_Breed")

In [29]:
right_table=bs.find('table', class_="wikitable")

In [30]:
# Initialize blank lists
A=[]
B=[]
C=[]
D=[]
E=[]
F=[]

#fill each list row by row
for row in right_table.find_all("tr"):
    #print(row)
    cells = row.find_all('td')
    if len(cells)>0: #Only extract table body not heading
        A.append(cells[0].find(text=True))
        B.append(cells[1].find(text=True))
        C.append(cells[2].find(text=True))
        D.append(cells[3].find(text=True))
        E.append(cells[4].find(text=True))
        F.append(cells[5].find(text=True))

In [31]:
df3=pd.DataFrame(A,columns=['Year'])
df3['Best Film']=B
df3['Best Direction']=C
df3['Special Jury Prize']=D
df3['Best Actress']=E
df3['Best Actor']=F

print tabletitle.text
df3

New Breed

,Year,Best Film,Best Direction,Special Jury Prize,Best Actress,Best Actor
0,2005,Pepot Artista,Rica Arevalo,Ang Pagdadalaga ni Maximo Oliveros,Meryll Soriano,Eddie Garcia
1,2006,Tulad ng Dati,Ron Bryant,Batad: Sa Paang Palay,Angel Aquino,Alchris Galura
2,2007,Tribu,Auraeus Solito,Endo,Ina Feleo,The ensemble of
3,2008,Jay,Chris Martinez,Brutus,Mylene Dizon,Baron Geisler
4,2009,Last Supper No. 3,GB Sampedro,Ang Panggagahasa kay Fe,Ina Feleo,Lou Veloso
5,2010,Halaw,Sheron Dayoc,"Sampaguita, National Flower",Lovi Poe,John Arcilla
6,2011,Ang Babae sa Septic Tank,Marlon Rivera,Niño,Eugene Domingo,Edgar Allan Guzman
7,2012,Diablo,Mes de Guzman,Requieme,Ama Quiambao,Kristoffer King
8,2013,Transit,Hannah Espia,Quick Change,Irma Adlawan,Mimi Juareza
9,2014,Bwaya,Giancarlo Abrahan V,K’na The Dreamweaver,Eula Valdez,Dante Rivero